# === large experiment artifacts ===
baselines/ranks/*.json*
baselines/ranks/*.jsonl
baselines/ranks/*.csv
baselines/embeddings/*.pt
ranking/embeddings_jina/*.pt
sampling_hard_negatives/*.json

*.pt
*.arrow
*.npz
*.npy
*.pkl

*.json
*.jsonl
*.csv

# exceptions
!data_analysis/gold_standard_nl.json
!data_analysis/hard_negatives_nl.jsonl
!results/*.csv
!results/*.txt
!results/plots/*

!*.py
!*.ipynb


.env
__pycache__/
*.pyc
*.ipynb_checkpoints
.DS_Store